<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <div class="container mx-auto h-screen flex justify-center items-center">
    <div class="w-full max-w-md">
      <h1 class="my-6 text-2xl">Login</h1>

      <% if (typeof error !== "undefined" && error) { %>
        <div class="alert alert-error mb-4"><span><%= error %></span></div>
      <% } %>

      <form action="/login" method="POST" class="flex flex-col gap-2 mb-6">
        <input type="email" placeholder="Enter email" name="email" class="input input-bordered w-full" required />
        <input type="password" placeholder="Enter password" name="password" class="input input-bordered w-full" required />
        <button class="btn btn-active btn-neutral">Login</button>
      </form>

     
    </div>
  </div>
</body>
</html>

